body {
  background: rgb(162, 196, 228);
}

.container {
  display: block;
  font-family: monospace;
  max-width: 1000px;
  background: rgb(254, 254, 254);
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 15%);
}

.last-search {
  text-align: center;
  font-size: 20px;
  color: rgb(72, 109, 177);
  padding: 8px;
}

.search-form {
  max-width: 600px;
  margin: auto;
}

.search-button {
  margin-left: -15px;
  background: cornflowerblue;
  border: none;
}

.search-button:hover {
  background: rgb(82, 123, 199);
}

button:hover {
  transition: 0.15s;
  background: rgb(82, 123, 199);
}

button {
  background: cornflowerblue;
  border: none;
  color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  size: 150px;
  padding: 6.2px;
}

h1 {
  color: rgb(87, 141, 87);
  text-align: center;
  padding: 10px;
  margin-bottom: auto;
  size: 40px;
}

.date {
  font-size: 18px;
}

#headingtemp {
  color: rgb(87, 141, 87);
  padding: 7px;
}

.units .active {
  color: rgb(30, 30, 148);
  cursor: default;
}

.celsius {
  text-decoration: none;
  color: cornflowerblue;
}

.fahrenheit {
  text-decoration: none;
  color: cornflowerblue;
}

h2 {
  color: rgb(30, 30, 148);
  text-align: center;
}

.humidityAll {
  text-align: center;
  color: cornflowerblue;
}

.windAll {
  text-align: center;
  color: cornflowerblue;
}

.day {
  color: rgb(30, 30, 148);
  background: rgb(223, 230, 233);
  padding: 2px 0px 0px 0px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}

.temp {
  color: cornflowerblue;
}

#description {
  text-transform: capitalize;
}

.weatherForecast {
  padding: 20px;
  text-align: center;
  color: rgb(69, 69, 219);
}

.weatherEmoji {
  padding: 10px;
}

#forecast {
  padding-left: 15px;
}

.weather-forecast-temperatures {
  text-align: left;
  width: 75px;
}

.forecast-temperature-max {
  color: cornflowerblue;
  font-size: 13px;
}

.forecast-temperature-min {
  color: cornflowerblue;
  opacity: 0.7;
  font-size: 13px;
}

.sourceFooter {
  text-align: center;
}

.sourceLink {
  font-size: 12px;
  color: rgb(69, 69, 219);
  text-decoration: none;
}

.author {
  font-size: 12px;
  color: cornflowerblue;
}
